Makefile.in
Makefile
config.*
configure
*~
*.o
*.a
core*
**/.deps
.lineno
autom4te.cache/
*.m4
compile
depcomp

test-driver
install-sh
missing
stamp-h1
valgrind
callgrind.out*

*.old
old/
*.tgz
*.[0-9]
foo*
*.[ch].*
*.log
lanl_*
commit.txt
example_*
