Makefile.in
Makefile
config.*
configure

!*.am
!test-driver

test-driver
install-sh
missing
stamp-h1
valgrind
*.old
old/

.lineno
autom4te.cache/
commit.txt
compile
depcomp


*.tgz
*.[0-9]
foo*
*~
*.o
*.a
core*
*.m4
*.[ch].*
*.log
lanl_*
**/.deps


